<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
<body>
    <header>
        <div class="container">
            <div id="brandname">
                <b>Fake News detector App using NLP and Machine Learning</b>
            </div>
            <h2>Fake News Detector</h2>
            </div>
    </header>
    <div class="ml-container">
        <form action="{{url_for('predict')}}" method="POST">
            <p>Enter your Title here which you want to predict</p>
            <textarea name="message" rows="6" cols="50"></textarea>
            <br/>
            <input type="Submit" class="btn-info" value="Predict">
        </form>
    </div>
</body>
</html>