<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
<body>
    <header>
        <div class="container">
            <div id="brandname">
                ML App
            </div>
            <h2>Fake News Detector</h2>
        </div>
    </header>
    <p style="color:#c65032;font-size:30;text-align:center;"><b>Results for comment</b></p>
    <div class="results">
        {% if prediction==1%}
        <h2 style="color:red;">Fake News!!</h2>
        {% elif prediction==0%}
        <h2 style="color:rgb(100, 218, 100);">Not a Fake News.</h2>
        {% endif %}


    </div>
    </body>
</html>